$board-color: #E4F1FE;
$square-color: #6BB9F0;
$divider-color: #4ECDC4;
$divider-color-active: #86E2D5;
$player-1-color: blue;
$player-2-color: red;

.tic-tak-toe {
  background: $board-color;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  min-width: 350px;
  min-height: 350px;
  padding: 1% 1% 1% 1%;
  margin: 0 auto;
  .box {
    width: 33%;
    height: 33%;
    float: left;
    border: $divider-color solid 5px;
    box-sizing: border-box;
  }
  .active {
    border: $divider-color-active solid 5px !important;
  }
  .left {
    border-left: none;
  }
  .right {
    border-right: none;
  }
  .top {
    border-top: none;
  }
  .bottom {
    border-bottom: none;
  }
}

.board {
  width: 100%;
  height: 100%;
  &.player-1 {
    background: $player-1-color;
    .square {
      border: $player-1-color solid 5px !important;
    }
  }
  &.player-2 {
    background: $player-2-color;
    .square {
      border: $player-2-color solid 5px !important;
    }
  }
  .square {
    width: 33%;
    height: 33%;
    float: left;
    border: $board-color solid 5px;
    border-radius: 25px;
    background: $square-color;
    box-sizing: border-box;
    text-align: center;
    &:hover, &:focus {
      background: darken($square-color, 15%);
    }
    &.player-1, &.player-2 {
      background: darken($square-color, 15%);
    }
  }
  .player-1:after {
    content: "X";
    color: $player-1-color;
    font-size: 6vmin;
  }
  .player-2:after {
    content: "O";
    color: $player-2-color;
    font-size: 6vmin;
  }
}
