.sidebar{
  position: absolute;
  left: 700px;
  top: 0px;
}
.square{
	width: 200px;
	height: 200px;
	font-size: 100px;
	text-align: center;
}
.v{
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.h{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.in_square{
  width: 66px;
  height: 66px;
  font-size: 50px;
  text-align: center;
}
.in_v{
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.in_h{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}